.layout {
    display: flex;
    gap: 80px;
    padding: 40px 0;
    align-items: flex-start;
}

.filters {
    flex: 0 0 360px;
    padding-right: 20px;
    border-right: 1px solid #DADDE1;
}

.cards {
    flex: 1;
}

.cards > * {
    margin-bottom: 32px;
}

.cards > *:last-child {
    margin-bottom: 0;
}

.title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 24px;
}

.loadMore {
    display: block;
    margin: 30px auto 0;
    padding: 12px 24px;
    background-color: #e44848;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.loadMore:hover {
    background-color: #d03737;
}
