.hero {
    position: relative;
    height: 100vh;
    background-image: url('/banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 80px;
    color: #fff;
}


/* Контент */
.content {
    max-width: 500px;
}

/* Заголовок */
.title {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 16px;
}

/* Подзаголовок */
.subtitle {
    font-size: 22px;
    margin-bottom: 32px;
    line-height: 1.4;
}

/* Кнопка */
.button {
    background-color: #e44848;
    color: #fff;
    padding: 14px 28px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button:hover {
    background-color: #d03737;
}
